<!DOCTYPE html>
<html>
<head>
<style>

</style>
</head>
<body class="sansserif">

<div class="container">

<nav>
  <ul>
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "What I Do", root_path %></li>
    <li><%= link_to "Blog", about_path %></li>
    <li><a href="#" class="two" target="_blank">Connect</a></li>
  </ul>
</nav>

<article>
  <h1>Blog</h1>
  <p>Test</p>
</article>
</div>




</body>
</html>

